langchain
langchain_community
langchain_huggingface
langchain-google-genai

textblob         # For sentiment analysis (optional)
pytest           # For testing
smolagents
textblob
# langchain-openai
# openai
# faiss-cpu